body{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  align-items: center;
  justify-content: space-between;
    div{
      justify-self: flex-end;
      background-image: url("../../assets/freren.png");
      background-size: cover;
      align-items: center;
      font-weight: 500;
      overflow: hidden;
    }

}
img{
  width: 100pox;
  font-weight: bold;
  text-align: center;
  color: #c8c8c8;
  
}

input:focus{
  outline: none;
}